<section class="flex min-h-screen md:items-center py-8  px-8 md:px-16 lg:px-32 xl:px-64 2xl:px-104 my-8">
    <div class="flex flex-col md:flex-row md:w-full gap-16 md:gap-32">

        <div class="flex flex-col md:w-1/2 gap-8">

            <h1 class="text-2xl md:text-4xl">CADASTRO</h1>
            <div class="flex flex-col gap-4 p-4 border-2 border-blue-600">

                <h2 class="text-xl md:text-2xl">Boas vindas ao <span>Our Forms</span>!</h2>
                <p class="font-vietnam text-xs md:text-xl">Que bom ter você por aqui! Estamos animados para ver os
                    formulários que você vai criar. <br>Para começar,
                    preencha os campos com seus dados para configurar sua conta gratuita. É rapidinho!</p>

            </div>

        </div>
        <form #cadastroForm="ngForm" (submit)="onSubmit(cadastroForm)"
            class="flex flex-col md:w-1/2 items-center md:items-end gap-8">

            <div class="flex flex-col w-full ">
                <label for="primeiroNome" class="">Primeiro Nome: </label>
                <input
                    class="border-b-2 border-blue-600 focus:border-2 focus:border-blue-600 [&.ng-invalid.ng-touched]:border-purple-600 my-2 py-1 px-2 placeholder-gray-300 outline-none"
                    type="text" placeholder="Fulaninho" id="primeiroNome" name="primeiroNome"
                    [(ngModel)]="novoCadastro.primeiroNome" required #nomeInput="ngModel">
                @if (nomeInput.invalid && (nomeInput.dirty || nomeInput.touched) && nomeInput.errors?.['required']) {
                <div class="text-xs text-red-600">
                    O primeiro nome é obrigatório
                </div>
                }
            </div>

            <div class="flex flex-col w-full ">
                <label for="sobrenome" class="">Sobrenome: </label>
                <input
                    class="border-b-2 border-blue-600 focus:border-2 focus:border-blue-600 [&.ng-invalid.ng-touched]:border-purple-600 my-2 py-1 px-2 placeholder-gray-300 outline-none"
                    type="text" placeholder="de Tal" id="sobrenome" name="sobrenome"
                    [(ngModel)]="novoCadastro.sobrenome" required #sobrenomeInput="ngModel">
                @if (sobrenomeInput.invalid && (sobrenomeInput.dirty || sobrenomeInput.touched) &&
                sobrenomeInput.errors?.['required']) {
                <div class="text-xs text-red-600">
                    O sobrenome é obrigatório
                </div>
                }
            </div>

            <div class="flex flex-col w-full ">
                <label for="email: " class="">Email: </label>
                <input
                    class="border-b-2 border-blue-600 focus:border-2 focus:border-blue-600 [&.ng-invalid.ng-touched]:border-purple-600 my-2 py-1 px-2 placeholder-gray-300 outline-none"
                    type="email" placeholder="fulaninhodetal@algumemail.com" id="email" name="email"
                    [(ngModel)]="novoCadastro.email" required email #emailInput="ngModel">
                @if (emailInput.invalid && (emailInput.dirty || emailInput.touched)) {
                <div class="text-xs text-red-600">
                    @if (emailInput.errors?.['required']) {
                    O e-mail é obrigatório.
                    }
                    @if (emailInput.errors?.['email']) {
                    O e-mail é inválido.
                    }
                </div>
                }
            </div>

            <div class="flex flex-col w-full ">
                <label for="telefone">Telefone: </label>
                <input
                    class="border-b-2 border-blue-600 focus:border-2 focus:border-blue-600 [&.ng-invalid.ng-touched]:border-purple-600 my-2 py-1 px-2 placeholder-gray-300 outline-none"
                    type="text" placeholder="(00) 90000-0000" id="telefone" name="telefone"
                    [(ngModel)]="novoCadastro.telefone" required pattern="^\d{11}$" #telefoneInput="ngModel">
                <div class="text-xs text-red-600">
                    @if (telefoneInput.invalid && (telefoneInput.dirty || telefoneInput.touched)) {
                    @if (telefoneInput.errors?.['required']) {
                    O campo telefone é obrigatório.
                    }
                    @if (telefoneInput.errors?.['pattern']) {
                    Telefone inválido.
                    }
                    }
                </div>
            </div>

            <div class="flex flex-col w-full ">
                <label for="dataNascimento">Data de Nascimento: </label>
                <input
                    class="border-b-2 border-blue-600 focus:border-2 focus:border-blue-600 [&.ng-invalid.ng-touched]:border-purple-600  my-2 py-1 px-2 placeholder-gray-300 outline-none"
                    [class.border-purple-600]="novoCadastro.dataNascimento > today" type="date" id="dataNascimento"
                    name="dataNascimento" [(ngModel)]="novoCadastro.dataNascimento" required [max]="today"
                    #dataInput="ngModel">
                @if (dataInput.dirty || dataInput.touched) {
                <div class="text-xs text-red-600">
                    @if (dataInput.errors?.['required']) {
                    A data de nascimento é obrigatória.
                    }
                    @if (novoCadastro.dataNascimento > today) {
                    A data de nascimento não pode ser no futuro.
                    }
                </div>
                }
            </div>

            <div class="flex flex-col w-full ">
                <label for="senha">Senha: </label>
                <input
                    class="border-b-2 border-blue-600 focus:border-2 focus:border-blue-600 [&.ng-invalid.ng-touched]:border-purple-600 my-2 py-1 px-2 placeholder-gray-300 outline-none"
                    type="password" placeholder="@s7A81*252jb" id="senha" name="senha" [(ngModel)]="novoCadastro.senha"
                    required minlength="12" #senhaInput="ngModel">
                @if (senhaInput.invalid && (senhaInput.dirty || senhaInput.touched)) {
                <div class="text-xs text-red-600">
                    @if (senhaInput.errors?.['required']) {
                    O campo "senha" é obrigatório.
                    }
                    @if (senhaInput.errors?.['minlength']) {
                    A senha deve ter no mínimo 12 caracteres. Você digitou {{novoCadastro.senha.length}}.
                    }
                </div>
                }
            </div>

            <button
                class="border-2 border-red-600 my-8 p-2 w-fit cursor-pointer disabled:border-red-300 disabled:text-gray-500 disabled:cursor-not-allowed"
                type="submit"
                [disabled]="cadastroForm.invalid || (novoCadastro.dataNascimento > today)">Cadastrar</button>
        </form>

    </div>

</section>