<div class="relative w-full md:w-48 h-10"> 

    <button 
        (click)="toggleDropdown()"
        class="w-full flex items-center justify-between 
        border border-dashed border-blue-600 
        px-4 py-2.5 text-left cursor-pointer 
        hover:border-solid
        focus:outline-none focus:border-solid transition-all"
    >
        <span class="text-sm text-gray-800 font-medium truncate">
            {{ value || 'Selecione'}}
        </span>

        <i class="fa-solid fa-chevron-down text-xs text-gray-800 transition-transform duration-200"
           [class.rotate-180]="isOpen">
        </i>
    </button>

    @if (isOpen) {
        
        <div class="fixed inset-0 z-10" (click)="isOpen = false"></div>
        
        <div class="absolute top-full left-0 mt-1 w-full max-h-40 overflow-y-auto bg-white border border-gray-200 rounded-md shadow-lg z-20 overflow-hidden animate-in fade-in zoom-in-95 duration-100">

            @for (option of options; track $index) {
                <button 
                    (click)="selectType(option)"
                    class="w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-blue-50 hover:text-blue-700 transition-colors flex items-center gap-2"
                    [class.bg-blue-50]="option === value" 
                >
                    {{ option }}
                    
                    @if (option === value) {
                        <i class="fa-solid fa-check text-blue-600 text-xs ml-auto"></i>
                    }
                </button>
            }
        
        </div>
    }
</div>