<section>
    <div>

        <div>
            <h1>Login</h1>
            <div>
                <h2>Por aqui de novo? Coisa boa!</h2>
                <p>É ótimo ver você de volta! Entre na sua conta para retomar suas criações, acompanhar o desempenho dos
                    seus formulários e conferir as novas respostas que chegaram.</p>
            </div>
        </div>

        <form #loginForm="ngForm" (submit)="onSubmit()">
            <div>
                <label for="email">Email: </label>
                <input type="email" placeholder="fulaninhodetal@algumemail.com" id="email" name="email"
                    [(ngModel)]="novoLogin.email" required email #emailInput="ngModel">
                @if (emailInput.invalid && (emailInput.dirty || emailInput.touched)) {
                <div>
                    @if (emailInput.errors?.['required']) {
                    O e-mail é obrigatório.
                    }
                    @if (emailInput.errors?.['email']) {
                    O e-mail é inválido.
                    }
                </div>
                }
            </div>
            <div>
                <label for="senha">Senha: </label>
                <input type="password" placeholder="digite sua senha aqui." id="senha" name="senha"
                    [(ngModel)]="novoLogin.senha" required #senhaInput="ngModel">
                @if (senhaInput.invalid && (senhaInput.dirty || senhaInput.touched)) {
                <div>
                    @if (senhaInput.errors?.['required']) {
                    O campo "senha" é obrigatório.
                    }
                </div>
                }
            </div>
            <button type="submit"  [disabled]="loginForm.invalid" >Login</button>
        </form>

        <div>
            Não tem uma conta?
            <a routerLink="/cadastro">
                Cadastre-se
            </a>
        </div>

    </div>
</section>